 <div class="row container-fluid no-space">
    <div class="container">
        <video height="400px" class="col-md-12" controls>
                  <source src="https://www.youtube.com/watch?v=g20t_K9dlhU" type="video/mp4">
        </video>

        <dl class="col-md-12 row">
            <dt class="col-md-3">Title :</dt>
            <dd class="col-md-9"><input type="text" name="title" /></dd>
            <dt class="col-md-3">Category :</dt>
            <dd class="col-md-9 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </dd>
            <dt class="col-md-3">Description</dt>
            <dd class="col-md-9">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </dd>
        </dl>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary">Start</button>
            </div>
            <div class="col-md-3">
                <button class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
    