.header{
  height: 60px;
  margin-bottom: 10px;
}

.icon {
    width: 50px !important;
}

.btn {
    margin-left: 10px;
    height: 30px;
    font-size: 12px;
  font-weight: bold;
    text-transform: uppercase;
    color: #696666;
    background: #5AE9DF;
    background-size: 54px 204px;
  border-radius: 2em;
  border: 0.15em solid #5AE9DF;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
    color: #fff;
    background-color: #1C32F0;
    border-color: #1C32F0;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#div-icon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#div-btn {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

#searchbox {
    float:left;
    margin-top: 20px;
    margin-left: 200px;
    background: url(http://3.bp.blogspot.com/-g-zH25_DoxI/VD1BuatkgII/AAAAAAAAAgc/00hxspfvv3s/s1600/searchbar.png) no-repeat;
    width: 208px;
    height: 29px;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
#searchbox input {
    outline: none;
}
#searchbox input[type="text"] {
    background: transparent;
    margin: 3px 0px 0px 20px;
    padding: 5px 0px 5px 0px;
    border-width: 0px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    color: #828282;
    width: 70%;
    display: inline-table;
    vertical-align: top;
}
#button-submit {
    background: url(http://4.bp.blogspot.com/-OcDQ6Z9ojlQ/VD1KnwJjFOI/AAAAAAAAAgs/cu_pKN6bpL8/s1600/magnifier.png) no-repeat;
    border-width: 0px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 4px;
    width: 21px;
    height: 22px;
}
#button-submit:hover {
    background: url(http://2.bp.blogspot.com/-4-xFDFGKJrA/VD1Kn04f9TI/AAAAAAAAAgw/2ta84QY1x9A/s1600/magnifier-hover.png) no-repeat;
}
#button-submit:active {
    background: url(http://2.bp.blogspot.com/-4-xFDFGKJrA/VD1Kn04f9TI/AAAAAAAAAgw/2ta84QY1x9A/s1600/magnifier-hover.png) no-repeat;
    outline: none;
}
#button-submit::-moz-focus-inner {
    border: 0;
}

#div-log a {
  background: #E81E43;
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}

#div-log a:hover {
  background: #FFF;
  color: #E1332D;
}

#div-log {
    float: right;
    margin-top: 20px;
    margin-right: 15px
}
.button {
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
/*  margin: 0 auto 2em;*/
  max-width: 160px;
  position: relative;
    text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 80px;
}
@media (min-width: 400px) {
  .button {
    display: inline-block;
    margin-right: 20px;
  }
  .button:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .button:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .button:nth-of-type(5) {
    margin-right: 0;
  }
}
.button:hover {
  text-decoration: none;
}

.btn-5 {
    border-radius: 40px;
  border: 0.2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
 
.btn-5:hover {
  border: 2px solid #E81E43;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}