.container-fluid .row {
    padding: 0;
    margin: 0;
}

.wp-content {
    width: 100%;
}

.wp-chat {
    height: 100%;
}

.video {
    height: 540px;
}

.content-chat {
    height: 420px;
}

.content-chat .small-image{
    width: 30px;
    height: 20px;
}

.content-chat a{
    text-decoration: none;
}

.input-chat {
    margin-top: 10px;
}

.text-chat {
    width: 90%;
    height: 4em;
    resize: none;
    overflow: hidden;
    padding: 10px;
    margin: 0 20px;
}

.btn-chat {
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    background: #6441a4;
}
