<div class="header col-md-12">
    <div id="div-icon">
        <a href="#">
            <img src="/public/img/1.jpg" class="img-circle icon" alt="Cinque Terre">
          </a>
    </div>
    <div id="div-btn">
        <a href="#">
            <button class="btn">Home</button>
        </a>
        <button class="btn">Category</button>
        <button class="btn">Start Live</button>
    </div>
    <div id="searchbox">
        <input name="q" type="text" size="15" placeholder="search..." />
        <input id="button-submit" type="submit" value="" />
    </div>
    <div id="div-log">
        <a href="" class="button btn-5">Log In</a>
        <a href="" class="button btn-5">Sign Up</a>
    </div>
</div>