<!DOCTYPE html>
<html>
  <head>

  
    <!-- boostrap    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" href="/public/stylesheets/common.css">

     <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- end bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 

    
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <link rel="stylesheet" href="/public/stylesheets/footer.css">
    <link rel="stylesheet" href="/public/stylesheets/home.css">
    <link rel="stylesheet" href="/public/stylesheets/live-stream.css">
  </head>
  <body>

    <!-- header -->
    <%- include('header.ejs'); %>
    <!-- /header -->
   

    <!-- body -->
    <div class="container">
    <div ng-view></div>
    </div>
    <!-- /body -->
  
    <!-- footer -->
    <%- include('footer.ejs'); %>
    <!-- /footer -->

    <!-- angular -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='bower_components/angular-resource/angular-resource.js'></script>
    
    <!-- config all constants -->
    <script src="/configs/constants.js"></script>

    <!-- setup app module -->
    <script src="/app_module/app.module.js"></script>
    <script src='/app_module/app.config.js'></script>

    <script src="/components/live_stream_component/livestream.module.js"></script>
    <script src="/components/live_stream_component/livestream.component.js"></script>

    <script src="/components/start_live_component/start-live.module.js"></script>
    <script src="/components/start_live_component/start-live.component.js"></script>

  </body>
</html>
