 <div class="row container-fluid no-space">
    <div class="wp-content row no-gutters">
        <div class="scrollbar col-md-8 video style-2">
            <div class="row">
                <video height="400px" class="col-md-12" controls>
                  <source src="https://www.youtube.com/watch?v=g20t_K9dlhU" type="video/mp4">
                </video>
                <!--/video-->

                <dl class="col-md-12">
                    <dt class="col-md-12">This is title Video</dt>
                    <div class="col-md-12 row">
                        <div class="owner col-md-3">namND views</div>
                        <div class="col-md-3">
                            <button class="btn btn-primary">Follow</button>
                        </div>
                        <div class="view-count col-md-4 text-right">12545 views</div>
                        <div class="view-count col-md-2">
                            <button class="btn btn-primary">Share+</button>
                        </div>
                    </div>
                    <dt class="col-md-3">Categories:</dt>
                    <dd class="col-md-9">Java, C#</dd>
                    <dt class="col-md-3">Description</dt>
                    <dd class="col-md-9">I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like</dd>
                </dl>
                <!--                /info-->
            </div>
        </div>
        <!--        /wp-video-->
        <div class="col-md-4 wp-chat">
            <div class="scrollbar style-2 content-chat">
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>    
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                    <div class="col-12">
                        <a href="">
                            <img src="./public/img/avarta.jpg" alt="" class="rounded small-image" />
                            <span class="text-info">NamND9: </span>
                        </a>
                        <span>I Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like ItI Like It</span>
                    </div>
                    <!--                    /one-message-->
                </div>
            </div>
            <!--/content chat-->
            <div class="input-chat">
                <textarea placeholder="type here" class="text-chat"></textarea>
                <div class="button-chat right">
                    <input type="button" name="input" class="btn btn-chat" value="Chat">
                </div>
            </div>
            <!--/input chat-->

        </div>
    </div>
</div>
    